{% extends 'base.html.twig' %}

{% block body %}
    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/js/index.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/adminlte.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/jquery.slimscroll.min.js') }}"></script>
    <script src="https://use.fontawesome.com/581d5d54d2.js"></script>
        <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
{% endblock %}